<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Todo App</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="css/materialize.min.css">

	<link type="text/css" rel="stylesheet" href="css/style.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<nav>
		<div class="container nav-wrapper">
			<a href="#" class="brand-logo center">Todo</a>
		</div>
	</nav>
	<div class="container" id="app">
		<div class="row">
			<div class="col s12 m8 offset-m2 l6 offset-l3 z-depth-1 tasks">
				<div class="row task-head">
					<div class="input-field col s12">
						<input id="title" type="text" v-model="newTask" @keyup.enter="addTask">
						<label for="title">New task</label>
					</div>
				</div>
				<div class="row task-controls">
					<a class="waves-effect waves-teal btn-flat left">
						<i
							class="material-icons"
							:class="{done: allComplited}"
							@click="toggleAllComplited()"
						>done</i>
					</a>
					<a class="waves-effect waves-teal btn-flat right">
						<i
							class="material-icons"
							@click="toggleOrder()"
						>{{ orderIcon }}</i>
					</a>
				</div>
				<div class="row task-list" v-cloak>
					<ul class="collection" id="task-list-ul">
						<li class="collection-item" :class="{complited: task.complited}" v-for="task in tasks | orderBy 'title' order" transition="task-animation">
							<div>
								<input type="checkbox" id="uid{{ task.uid }}" v-model="task.complited">
								<label for="uid{{ task.uid }}" class="left" @cilck="toggleComplition(task)"></label>
								<span class="truncate title">
									{{ task.title }}
								</span>
								<span class="secondary-content">
										<i
											class="material-icons"
											@click="deleteTask(task)"
										>close</i>
									</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
